<!DOCTYPE html>
<html>
<head>
	<title>SteamDigest</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container">
		<h1><center>Welcome to SteamDigest!</center></h1>
		<center>Choose a button below to get started</center>
		<div style="text-align: center;">
			<form action="/register" method="get">
				<input type="submit" value="Sign Up">
			</form>
			<form action="/login" method="get">
				<input type="submit" value="Log in">
			</form>
		</div>
	</div>
</body>
</html>