<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <div style="text-align:center;">
      <h1>Welcome to your profile!</h1>
      <p>Enter your Steam ID below to see the latest news about your favorite games:</p>
      <br>
      <form action="/steam" method="post">
        <label for="steam-id">Steam ID:</label>
        <input type="text" id="steam-id" name="steam_id">
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>