<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Game Search</title>
</head>
<body>
  <h1>Welcome to My Game Search</h1>
  <form action="/search" method="GET">
    <label for="steam_id">Steam ID:</label>
    <input type="text" name="steam_id" id="steam_id"><br>
    <input type="submit" value="search">
  </form>
</body>
</html>